body{
    font-family: 'Open Sans', sans-serif;
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1, h2, h3, h4{
    font-family: 'Noto Serif', serif;
}
.site__header, footer{
    padding: 12px 45px;
    @media only screen and (max-width: 767px) {
        padding: 12px 35px;
    
    }
    @media only screen and (max-width: 640px) {
        padding: 12px 30px;
    
    }

}
.container{
    @media only screen and (max-width: 640px) {
        padding: 0px 30px;
    
    }

}
.site__header{
    position: absolute;
    width: 100%;
    top: 0;
    .container-fluid{
        padding: 0;
    }
    h1, a{
        color: #3d403e;
        margin: 0;
        transition: all 0.3s ease-in-out;
    }
    h1{
        @media only screen and (max-width: 991px) {
            font-size: 36px;
        }

        @media only screen and (max-width: 640px) {
            font-size: 30px;
        }
    }
    .left{
        a, h1{
            &:hover{
                text-decoration: none;
            }
        }
    }
}
footer{
    padding: 40px  15px;
    background: #3d403e;   
    .footer-wrapper{
        flex-wrap: wrap;
        .left, .center, .right{
            @media only screen and (max-width: 767px) {
                width: 100%;
                margin-bottom: 30px;
            }
            @media only screen and (max-width: 640px) {
                text-align: center;
                justify-content: center;
            }
        }
        .right{
            @media only screen and (max-width: 767px) {
                margin-bottom: 0;
            }
            .email-wrapper{
                p{
                    @media only screen and (max-width: 767px) {
                        margin-bottom: 5px;
                    }
                }

            }
        }
    }
    h1, a, p{
        color: #ffffff; 
        &:hover{
            text-decoration: none;
        }
    }
    h1{
        @media only screen and (max-width: 991px) {
            font-size: 36px;
        }

        @media only screen and (max-width: 640px) {
            font-size: 30px;
        }
        @media only screen and (max-width: 480px) {
            font-size: 25px;
        }
    }
}
section.shapes-area {
    min-height: 100vh;
    padding:100px 0px;
    @media only screen and (max-width: 480px) {
        padding:70px 0px;

    }
    .container{
        height: 100%;
        .area-wrapper {
            padding: 30px;
            // border: 1px solid #cecdcd;
            border-radius: 10px;
            text-align: center;
            background-color: #ffffff;
            width: 690px;
            margin: 0 auto;
            display: block;
            box-shadow: 0 10px 16px rgba(0, 0, 0, 0.295);
            @media only screen and (max-width: 767px) {
                width:100%;
            }

            .shape-select{
                h1{
                    margin-bottom: 25px;
                    font-size: 25px;
                    @media only screen and (max-width: 480px) {
                        margin-bottom: 20px;
                        font-size: 22px;
                    }
                }
                .radio-wrapper{
                    display: flex;
                    justify-content: space-around;
                    @media only screen and (max-width: 640px) {
                        flex-wrap: wrap;
                    }
                    .form-check{
                        @media only screen and (max-width: 640px) {
                            margin: 5px 10px;
                        }
                        label,input{
                            cursor: pointer;
                        }
                        label{
                            font-size: 18px;
                            margin-top: -3px;
                            @media only screen and (max-width: 640px) {
                                font-size: 16px;
                            }

                        }
                    }
                }
                .parameter-wrapper{
                    margin-top: 40px;
                    @media only screen and (max-width: 640px) {
                        margin-top: 20px;

                    }
                    button{
                        margin-top: 10px;
                    }
                    .shapes-input{
                        display: none;
                    }
                    .shapes-input.circle-area{
                        display: block;
                    }
                    .answer-wrapper{
                        display: none;
                        h3.area-answer {
                            margin-top: 30px;
                            margin-bottom: 25px;
                            @media only screen and (max-width: 640px) {
                                font-size: 20px;
        
                            } 
                        }
                        .color-rep{
                            p i {
                                width: 15px;
                                height: 15px;
                                
                                position: relative;
                                display: block;
                                margin-right: 10px;
                            }
                            p{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                &.green{
                                    i{
                                        background: green;
                                    }
                                    
                                }
                                &.red{
                                    i{
                                        background: red;
                                    }
                                    
                                }
                            }
            
                        }
                    }
                   
                    form{
                        .form-group {
                            display: flex;
                            align-items: center;
                            margin-top: 20px;
                            @media only screen and (max-width: 480px) {
                                margin-top: 15px;
                            }
                            label{
                                margin-bottom: 0px;
                                margin-right: 15px;
                                width: 70px;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}